.primary-green-color {
  color: #00c9a7;
}

.secondary-background-green-color {
  background: #e5f9f6;
}

.primary-red-color {
  color: #ef5978;
}

.secondary-red-color {
  color: #fdedf1;
}

.primary-orange-color {
  color: #f3a04b;
}

.secondary-orange-color {
  color: #fff1e2;
}
